@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
    --bg: #010001;
    --text: rgba(255, 255, 255, 0.87);
    --btn-text-dark: #242424;
    --accent: #ff9100;
    --accent-transparent: #ff9100d0;
}

@theme {
    --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

body {
    @apply bg-[var(--bg)] text-[var(--text)];
    @apply font-poppins;
}

/* Emoji css */
.emoji {
    display: inline-block;
    vertical-align: text-bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
}

.wave-hand {
    background-image: url("/waving-hand.webp");
}

.technologist {
    background-image: url("/technologist.webp");
}

.react-icon {
    font-size: 22px;
    vertical-align: middle;
}

.link {
    width: max-content;
    padding: 1px 2px;
    margin: 10px 0;
    position: relative;
    transition: all 0.2s ease;
}

.link:hover {
    transform: translateY(-2px);
}

.link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: width 0.5s ease;
}

.link:hover::after {
    width: 100%;
}

.resume-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    font-size: larger;
    font-weight: 600;
    padding: 20px;
    background-color: var(--accent-transparent);
    color: var(--btn-text-dark) !important;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    animation-range: entry 0% cover 20%;
}

.resume-link:hover {
    background-color: var(--accent);
}

.skill-name {
    width: max-content;
    line-height: 2;
    font-size: large;
}

.project-description ul li::marker {
    content: '- ';
}