/* Remove default margin & padding */
body {
  margin: 0;
  padding: 0;
}

/* Set global styles */
:root {
  --text: rgba(255, 255, 255, 0.87);
  --btn-text-dark: #242424;
  --accent: #ff9100;
  --accent-light: #ff9100d0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background-video {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: fill;
  z-index: -1;
}

/* Header styles */
.intro {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
  animation: intro ease-in-out;
  animation-timeline: view();
  animation-range: cover 40%;
}

@keyframes intro {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

.intro-hello {
  font-weight: 400;
  font-size: 40px;
}

.emoji {
  display: inline-block;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wave-hand {
  background-image: url("/waving-hand.webp");
  height: 50px;
  width: 50px;
}

.technologist {
  background-image: url("/technologist.webp");
  height: 50px;
  width: 50px;
}

.name {
  font-weight: 600;
}

.intro-tagline {
  width: 700px;
  font-size: 40px;
  font-weight: 400;
  padding: 50px 0;
}

a,
a:visited {
  text-decoration: none;
  color: var(--text);
}

/* Email button styles */

.email-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
  padding: 20px;
  width: 140px;
  text-align: center;
  background-color: var(--accent-light);
  color: var(--btn-text-dark);
  border-radius: 50px;
  font-weight: bold;
  font-size: large;
  transition: width 0.5s ease-in-out, color 0.3s ease, background-color 0.5s ease;
  overflow: hidden;
}

.email-button::after {
  content: "jhanaman786@gmail.com";
  position: absolute;
  color: transparent;
  opacity: 0;
  transition: color 0.3s ease, opacity 0.2s ease;
}

.email-button:hover {
  background-color: var(--accent);
  color: transparent;
  width: 220px;
}

.email-button:hover::after {
  opacity: 1;
  color: var(--btn-text-dark);
}

.email-icon {
  height: 24px;
  width: 24px;
  margin-bottom: 2px;
}

/* Main content div styles */
.main-content {
  display: flex;
  position: relative;
  width: 1100px;
  margin: auto;
}

.main-scroll-animation {
  animation: main-content-scroll ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes main-content-scroll {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
  }
}

.section-scroll-animation {
  animation: section-scroll ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes section-scroll {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
  }
}

/* Sticky sidebar styles */
.sticky-sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.sidebar-name {
  font-size: 48px;
  margin: 200px 0 0;
}

.sidebar-title {
  margin: 0;
}

.sidebar-tagline {
  width: 300px;
}

/* Resume button styles */
.resume-container {
  display: flex;
  align-items: center;
  padding: 50px 0 70px;
}

.resume-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 190px;
  font-size: larger;
  font-weight: 600;
  padding: 20px 10px 20px 20px;
  background-color: var(--accent-light);
  color: var(--btn-text-dark) !important;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  animation-range: entry 0% cover 20%;
}

.resume-link:hover {
  background-color: var(--accent);
}

.resume-arrow-icon {
  color: var(--btn-text-dark);
  transition: all 0.2s ease-in-out;
  height: 22px;
  width: 22px;
}

.resume-link:hover .resume-arrow-icon {
  margin-left: 5px;
}

/* Social links styles */
.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.react-icon {
  font-size: 22px;
  vertical-align: middle;
}

.link {
  width: max-content;
  padding: 1px 2px;
  margin: 10px 0;
  position: relative;
  transition: all 0.2s ease;
}

.link:hover {
  transform: translateY(-2px);
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--accent);
  transition: width 0.5s ease;
}

.link:hover::after {
  width: 100%;
}

.social-links {
  display: flex;
  gap: 5px;
}

/* Scrollable sections styles */
.scrollable-content {
  height: max-content;
  width: 600px;
  padding: 0 250px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

/* Section styles */
.section-title {
  font-size: 32px;
}

/* About section styles */
.section .about-section-content {
  font-size: larger;
}

/* Skills section styles */
.skill-section-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.skill-category-title {
  font-size: large;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--accent);
}

.skill-category-title.database-title {
  margin: 30px 0 5px;
}

.skill-name {
  width: max-content;
  line-height: 2;
  font-size: large;
}

/* Project section styles */
.section .project-section-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project-title {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  font-size: 28px;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
}

a.project-link {
  color: var(--accent);
  transition: all 0.5s ease-in-out;
}

.project-arrow-icon {
  stroke-width: 3;
  height: 22px;
  width: 22px;
  transition: all 0.1s ease-in-out;
}

.project-title:hover .project-link {
  color: var(--text);
}

.project-title:hover .project-arrow-icon {
  color: var(--text);
  margin: 0 0 5px 5px;
}

.project-demo {
  width: 590px;
  margin: 25px 0;
}

.project-description {
  width: 600px;
  font-size: larger;
}

.project-github-link {
  display: flex;
  gap: 5px;
  margin: 25px 0 0;
  position: absolute;
}

.github-link-icon {
  margin-top: 2px;
  stroke-width: 2.5;
  height: 16px;
  width: 16px;
}